<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <header class="nav-header-container"><%- include('partials/header')%></header>
  <body>
    <section class="upper">
      <h1 class="header-text">Delete: <%= type.name %></h1>
    </section>
    <section class="content">
        <% if (type_vehicles.length) { %>
         <h2><strong>You must delete all the vehicles with the type of <%= type.name %> before attempting to delete this type.</strong></h2>
         <h2>Vehicles with <strong><%= type.name %></strong> type:</h2>
         <div class="card-container">
            <% type_vehicles.forEach(vehicle => { %>
            <div class="card">
              <a href="<%-vehicle.url%>"><%= vehicle.model %></a>
              <p id="card-price">$<%= vehicle.price %></p>
            </div>
            <% }) %>
          </div>
        <% } else { %>
            <p>Are you sure you want to delete this type?</p>
            <form action="" method="post">
                <input type="hidden" name="typeid" required="true" value="<%= type._id %>">
                <button id="delete-button" type="submit">DELETE</button>
            </form>
        <% } %> 
    </section>
  </body>
  <script src="/javascripts/script.js"></script>
</html>
